{% include 'header/header.html' %}
<body class="sb-nav-fixed">
    {% include 'header/top_bar.html' %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
        {% include 'header/sidebar.html' %}
        </div>
        <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h3 class="mt-4">Shop</h3>
                <ol class="breadcrumb mb-4 px-4 py-2">
                    <li class="breadcrumb-item active">Shop</li>
                    <li class="breadcrumb-item active">Generate Bill</li>
                </ol>

            
            </div>
        </main>
        </div>
    </div>
</body>

{% include 'header/footer.html' %}
<script>
  $(document).ready(function() {
    $('#datatablesSimple').DataTable( {
        dom: 'Bfrtip',
        buttons: [
          {
            extend: 'csvHtml5',
            title: 'Sub-admin_data'
          }
        ]
    } );
} );

function InsertSubAdmin() {
  if (!validate("FormSubadmin")) {

  } else {
      var myFormData = new FormData($("#FormSubadmin")[0]);
      $.ajax({
          url: 'add_sub_admin',
          type: "post",
          data: myFormData,
          contentType: false,
          processData: false,
          beforeSend: function() {},
          success: function(data) {
              if (data == '1') {
                Swal.fire({
                  title: 'Success',
                  text: "Sub-admin has been inserted succesfully",
                  icon: 'success',
              });
                $(".swal2-confirm").click(function(){
                  window.location.href = "sub_admin";
              });
              } else {
                  Swal.fire({
                      title: 'Error!',
                      text: data,
                      icon: 'error',
                  });

              }
          },
          error: function() {}
      });
  }
}
</script>